
-e git+https://github.com/cooperhewitt/py-cooperhewitt-flask#egg=cooperhewitt.flask
-e git+https://github.com/workergnome/py-cooperhewitt-roboteyes-colors#egg=cooperhewitt.roboteyes.colors
-e git+https://github.com/workergnome/py-cooperhewitt-swatchbook#egg=cooperhewitt_swatchbook
Flask==0.11.1
Flask-Cors==2.1.3