!!!

%html
  %head
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <title>IIIF Palettes</title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/site.css">

    <script src="/javascript/jquery.js"></script>
    <script src="/javascript/openseadragon.js"></script>
    <script src="/javascript/site.js"></script>

  %body
    = yield